{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.modal.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}"/>

</head>
<body>

<div class="header">
    <h1>Centris Properties</h1>
</div>
<div id="ex1" class="modal">
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="number">Search Number</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="title">Search Title</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="price">Search Price</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="workscore">Search Workscore</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="rooms">Search Rooms</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="address">Search Address</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="agent_name">Search Agent Name</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="built_year">Search Built Year</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="const_year">Search Construction Year</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="available_area">Search Available Area</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="lot_area">Search Lot Area</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="fireplace">Search Fireplace/Stove</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="add_features">Search Additional Features</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="gross_revenue">Search Gross Revenue</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="unit_number">Search Unit Number</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="parking">Search Parking</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="main_unit">Search Main Unit</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="resid_unit">Search Residential Unit</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="building_area">Search Building Area</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="use_property">Search Use of Property</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="zoning">Search Zoning</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="resid_units">Search Residential Units</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="business_type">Search Business Type</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="intergen">Search Intergenerational</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="building_style">SearchBuilding Style</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="pool">Search Pool</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="active">Search Active</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="condominium">Search Condominium</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="gross_area">Search Gross Area</a>
    </p>
    <p>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="net_area">Search Net Area</a>
        <a href="#" rel="modal:close" class="btn btn-success add-filter" id="operation_type">Search Operation Type</a>
    </p>
</div>
<div id="demo" class="display">
    <a href="#ex1" rel="modal:open" class="btn btn-success">Add Search</a>
    <table cellpadding="3" id="container" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;">
        <tbody>
        </tbody>
    </table>


    <table id="example" class="display" style="width:100%">
        <thead class="bg-success">
        <tr class="info">
            <th class="number" scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">Address</th>
            <th scope="col">Price</th>
            <th scope="col">Workscore</th>
            <th scope="col">Agent Name</th>
            <th scope="col">Rooms</th>
            <th scope="col">Geo Cordinates</th>
            <th scope="col">Description</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for item in centris %}
            <tr>
                <td class="number">{{ item.pid }}</td>
                <td class="title">{{ item.centris_title }}</td>
                <td class="address">{{ item.address }}</td>
                <td class="price">{{ item.price }}</td>
                <td class="workscore">{{ item.workscore }}</td>
                <td class="agent_name">{{ item.agent_name }}</td>
                <td class="beds_baths">{{ item.beds_baths }}</td>
                <td class="geo_cordinates">{{ item.geo_cordinates }}</td>
                <td class="description">{{ item.description }}</td>
                <td class="active">{{ item.property_current_active }}</td>
                <td>
                    <button type="button" class="btn btn-success add-filter">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{#<div class="pagination">#}
{##}
{#    {% if centris.has_previous %}#}
{#        <a href="?page=1" class="btn btn-outline-warning">First</a>#}
{#        <a href="?page={{ centris.previous_page_number }}" class="btn btn-outline-warning">Previous</a>#}
{#    {% endif %}#}
{##}
{#    <span class="btn btn-light">{{ centris.number }}</span>#}
{#    <span class="btn btn-light">of</span>#}
{#    <span class="btn btn-light">{{ centris.paginator.num_pages }}</span>#}
{##}
{#    {% if centris.has_next %}#}
{#        <a href="?page={{ centris.next_page_number }}" class="btn btn-outline-warning">Next</a>#}
{#        <a href="?page={{ centris.paginator.num_pages }}" class="btn btn-outline-warning">Last</a>#}
{#    {% endif %}#}
{##}
{#</div>#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
{#<script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>#}
<script src="{% static 'js/jquery.modal.min.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>

<script>
    function filterGlobal() {
        $('#example').DataTable().search(
            $('#global_filter').val()
        ).draw();
    }

    function filterColumn(i, value) {
        console.log(i, value);
        $('#example').DataTable().columns('.' + i).search(
           value
        ).draw();
    }

    $(document).ready(function () {
        $('#example').DataTable();

        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });
    });
</script>

<script>
{##}
{#    function filterColumn ( i ) {#}
{#        $('#properties').DataTable().column( i ).search(#}
{#            $('#col'+i+'_filter').val()#}
{#        ).draw();#}
{#    }#}
{##}
{#    $(document).ready(function() {#}
{#        $('#properties').DataTable();#}
{#        $('input.column_filter').on( 'keyup click', function () {#}
{#            filterColumn( $(this).parents('tr').attr('data-column') );#}
{#        } );#}
{#    } );#}
    $(document).ready(function(){
      $(".add-filter").click(function(e){
          var label = $(this).attr("id")
            $("#container").append("<tr id=\"filter_col\" data-column=\"0\">\n" +
                            "            <td>Search - <span class=\"filter-label\">" + label + "</span> </td>\n" +
                            "            <td align=\"center\"><input type=\"text\" class=\"column_filter\" id=\"col" +label+"_filter\" onkeyup=\"columnFilterKeyUp('"+ label+ "')\"></td>\n" +
                            "        </tr>");
      });
    });
    function columnFilterKeyUp(label) {
        var value = $('#col'+label+'_filter').val();
        console.log(label, value)
        filterColumn(label, value);
    }
</script>

<script>
 $(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        }, {
            targets: [ 4 ],
            orderData: [ 4, 0 ]
        } ]
    } );
} );
</script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>#}
{#<script>#}
{#$(document).ready(function(){#}
{#    table = $("#properties"); //set table name#}
{#    search_field = new Object();#}
{#    ///we create it as an object, initially empty#}
{#    $('.search-key').on('change keyup paste', function () {#}
{#        search_field['title']      = $( "#title" ).val();#}
{#        search_field['number']  = $("#number").val();#}
{#        search_field['workscore']    = $("#workscore").val();#}
{##}
{#        table.find('tr').each(function () {#}
{#            var current_row = $(this); //keep track of the row being checked, iterate through it's cells#}
{#            var display = 0;#}
{#            current_row.show();#}
{#            $(this).find('td').each(function() {#}
{#            //when we stumble upon the data used as a search criteria#}
{#                cell_value = $(this).html(); //gets the value of the cell being checked#}
{#                if (cell_value == search_field[this.id] || search_field[this.id] == '') {#}
{#                    display++;#}
{#                }#}
{#            });#}
{#            if (display < 3) {#}
{#                current_row.hide(); //if this cell is a match, or we no longer want to use it as a search criteria, the row is displayed#}
{#            }#}
{#        });#}
{##}
{#    });#}
{#});#}
{#</script>#}
</body>
</html>